$header-height: 38px;
$toolbar-height: 40px;
$functions-height: 30px;
$cell-height: 20px;
$cell-width: 80px;
$row-info-width: 40px;
$db-header-height: 60px;
$active-outline: #2196f3;
$border-color: #c0c0c0;